*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  li{
    list-style: none;
    a{
        text-decoration: none;
        color: black;
    }
  }
 
}